/* switch  */
/* switch  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch input:checked + .slider {
    background-color: #2196F3;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* select to  */
/* select to  */
  .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
}
.SumoSelect {
  width: 100%;
}

/* time picker  */
/* time picker  */
.gj-datepicker-md [role=right-icon] {
  position: absolute;
  right: 5px;
  top: 7px;
  font-size: 24px;
}

.weekDays-selector input {
  display: none!important;
}


/* weekDays selector  */
/* weekDays selector   */

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 100px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #DA0F0F;
  color: #ffffff;
}

/* Drag Image */
/* Drag Image */
/* Drag Image */
.file-upload {
  /*background-color: #ffffff;*/
  width: 100%;
  text-align: right;
}

.image-upload-wrap {
  border: 1px dashed #585757;
  border-radius: 10px;
  position: relative;
  height: 140px;
  width: 100%;
}

.file-upload-input {
  left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.drag-text span {
  color: #939191;
}

.drag-text svg.iconify {
  width: 70px;
  height: 70px;
  color: #c7c7c7;
  padding: 10px;
  /* font-size: 124px; */
}

.file-upload-content {
  display: none;
  text-align: center;
  position: relative;
}



.image-upload-wrap:hover {
  border: 2px dashed green;
}

.remove-image {
  color: #fff;
  background: #cb7267;
  border: none;
  /* padding: 10px; */
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
}
.icon-property{
  display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    color: rgba(128, 128, 128, 0.288);
}
.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
  border: 1px solid #eee;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

/*Edit Drag Image */
/*Edit Drag Image */
/*Edit Drag Image */

.file-upload-edit {
  background-color: #ffffff;
  width: 40%;
  max-height: 200px;
  text-align: right;
}

.image-upload-wrap-edit {
  border: 1px dashed #585757;
  border-radius: 10px;
  position: relative;
  height: 140px;
  display: none;
}

.file-upload-input-edit {
  left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.drag-text-edit span {
  color: #939191;
}

.drag-text-edit svg.iconify {
  width: 70px;
  height: 70px;
  color: #c7c7c7;
  padding: 10px;
  /* font-size: 124px; */
}

.file-upload-content-edit {
  /* display: none; */
  text-align: center;
  position: relative;
}

.image-upload-wrap-edit:hover {
  border: 2px dashed green;
}

button.remove-image-edit {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff7676;
}

.remove-image-edit {
  color: #fff;
  background: #cb7267;
  border: none;
  /* padding: 10px; */
  border-radius: 4px;
}

.file-upload-image-edit {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
  /* border: 1px solid gray; */
}
.remove-image-edit:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image-edit:active {
  border: 0;
  transition: all 0.2s ease;
}

/* Second image in one page */
/* Second image in one page */
/* Second image in one page */

.file-upload-sec {
  background-color: #58575700;
  width: 100%;
  text-align: right;
}

.image-upload-wrap-sec {
  border: 1px dashed #585757;
    border-radius: 10px;
    position: relative;
    height: 140px;
    width: 100%;
}

.file-upload-input-sec {
  left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.drag-text-sec span {
  color: #939191;
}

.drag-text-sec svg.iconify {
  width: 70px;
  height: 70px;
  color: #c7c7c7;
  padding: 10px;
  /* font-size: 124px; */
}

.file-upload-content-sec {
  display: none;
  text-align: center;
  position: relative;
}

button.remove-image-sec {
  position: absolute;
  top: 0;
  right: 0;
  background: #00000033;
}

.image-upload-wrap-sec:hover {
  border: 2px dashed green;
}

.remove-image-sec {
  color: #fff;
  background: #cb7267 !important;
  border: none;
  /* padding: 10px; */
  border-radius: 4px;
  position: absolute;
}

.file-upload-image-sec {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
  border: 1px solid gray;
}

.remove-image-sec:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image-sec:active {
  border: 0;
  transition: all 0.2s ease;
}

/* edit second */
/* edit second */
/* edit second */

.file-upload-edit-sec {
  background-color: #ffffff;
  width: 40%;
  text-align: right;
}

.image-upload-wrap-edit-sec {
  border: 1px dashed #585757;
  border-radius: 10px;
  position: relative;
  height: 140px;
  display: none;
}

.file-upload-input-edit-sec {
  left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.drag-text-edit-sec span {
  color: #939191;
}

.drag-text-edit-sec svg.iconify {
  width: 70px;
  height: 70px;
  color: #c7c7c7;
  padding: 10px;
  /* font-size: 124px; */
}

.file-upload-content-edit-sec {
  /* display: none; */
  text-align: center;
  position: relative;
}

.image-upload-wrap-edit-sec:hover {
  border: 2px dashed green;
}

button.remove-image-edit-sec {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff5c5c;
}

.remove-image-edit-sec {
  color: #fff;
  background: #cb7267;
  border: none;
  /* padding: 10px; */
  border-radius: 4px;
}

.file-upload-image-edit-sec {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image-edit-sec:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image-edit-sec:active {
  border: 0;
  transition: all 0.2s ease;
}

/* End:: second drag image */
/* End:: second drag image */
/* End:: second drag image */



#containerBox{
  position: relative;
}

#loader{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #f4f5f7;
}
